@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --green : #95c11e;
    --black : #242423;
    --white : #e8eddf;
    --box-shadow : 0 0.5rem 1rem rgba(0, 0, 0, 0.1); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    border: none;
}

html,body{
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    background: #eee;
}

.btn{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--black);
  color: var(--black);
  cursor: pointer;
  background: none;
}

.btn:hover{
  background: var(--green);
  color: var(--white);
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: var(--white);
  box-shadow: var(--box-shadow);
}


.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--green);
}

.header .logo svg{
  color: var(--black);
}

.header .navbar a{
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--black);
}

.header .navbar button:hover{
  color: var(--green);
}

.login-register-btn{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.login-register-btn div button{
  color: var(--black);
  /* background-color: var(--green); */
}


div.popup-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 10;
}

div.popup-container div.popup{
  background-color: #f0f0f0;
  width: 350px;
  border-radius: 5px;
  padding: 20px 25px 30px 25px;
}

div.popup-container div.popup h2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  color: var(--green);
}

div.popup-container div.popup h2 button{
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  font-weight: 550;
  color: #797775;
}

div.popup-container div.popup input{
  width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--green);
  border-radius: 0;
  padding: 5px 0;
  font-weight: 550;
  font-size: 14px;
  outline: none;
  text-transform:lowercase;
}
div.popup-container div.popup button.login-btn,div.popup-container div.register button.register-btn{
  font-weight: 550;
  font-style: 15px;
  color: white;
  background-color: var(--green);
  padding: 4px 10px;
  border: none;
  outline: none;
  margin-top: 5px;
  padding: 1rem;
  border-radius: 10px;
}

div.popup-container div.register{
  background-color: #edeef7;
}

div.popup-container div.register h2{
  color: var(--green);
}

div.popup-container div.register input{
  border-bottom-color: var(--green);
}

div.popup-container div.register button.register-btn{
  background-color: var(--green);
}

div.user{
  color: var(--black);
  background-color: var(--green);
  padding: 1rem;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  height: 50px;
}
div.user a{
  color: var(--black);
} 
  /* Home section */

.home-content{
  width: 100%;
  /* margin-top: 8rem; */
  position: relative;
  text-align: center;
  color: var(--white);
}

.home-content img{
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.77;
  filter: blur(3px);
}

.home-content .text-content-home{
  position: absolute;
  width: 80rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: .5rem;
}

.home-content .text-content-home h2{
  font-size: 4rem;
  color: var(--green);
  font-weight: 900;
}

.home-content .text-content-home span{
  color: var(--white);
}

.home-content .text-content-home p{
  font-size: 2rem;
  font-weight: 500;
}

/* .home-content .text-content-home .home-shop-btn{

} */
/* features section */

.features-container{
  width: 100%;
  padding: 2rem 0;
  /* background-color: var(--green); */
}

.features-container h2{
  text-align: center;
  font-size: 3.5rem;
}

.features-container h2 span{
  color: #fff;
  display: inline-block;
  padding: .5rem 3rem;
  clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
  background: var(--green);
}

.features-container .features-container-inner{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.features-container-inner .features{
  margin:3rem 0;
  padding: 3rem;
  width: 28%;
  height: auto;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
}

.features img{
  width: 25rem;
  height: 30rem;
  object-fit: contain;
  /* mix-blend-mode: color; */
}

.features h3{
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
}

.features p{
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: var(--black);
}


/* category section */
.category-container{
  width: 100%;
  padding: 2rem 0;
}

.custom{
  margin-top: 8rem;
}

.category-container h2{
  text-align: center;
  font-size: 3.5rem;
}

.category-container h2 span{
  color: #fff;
  display: inline-block;
  padding: .5rem 3rem;
  clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
  background: var(--green);
}

.category-container .category-container-inner{
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.category-container-inner .category{
  margin:3rem 0;
  padding: 3rem;
  width: 23%;
  height: auto;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  row-gap: .5rem;
}

.category-container-inner .category img{
  width: 25rem;
  height: 30rem;
  object-fit: contain;
}

.category-container-inner .category h3{
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
}

.category-container-inner .category p{
  font-size: 1.5rem;
  font-weight: 300;
}



/* review section */

.review-container{
  width: 100%;
  padding: 2rem 0;
}

.review-container h2{
  text-align: center;
  font-size: 3.5rem;
}

.review-container h2 span{
  color: #fff;
  display: inline-block;
  padding: .5rem 3rem;
  clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
  background: var(--green);
}

.review-container .review-container-inner{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.review-container-inner .review{
  margin:3rem 0;
  padding: 3rem;
  width: 28%;
  height: auto;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  row-gap: .7rem;
}

.review-container-inner .review img{
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: .2rem solid var(--black);
}

.review-container-inner .review p{
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
}

.review-container-inner .review h3{
  font-size: 2.2rem;
  font-weight: 700;

}

.review-container-inner .review .rattings svg{
  color: var(--green);
}


/* blogs section */

.blogs-container{
  width: 100%;
  padding: 2rem 0;
}

.blogs-container h2{
  text-align: center;
  font-size: 3.5rem;
}

.blogs-container h2 span{
  color: #fff;
  display: inline-block;
  padding: .5rem 3rem;
  clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
  background: var(--green);
}

.blogs-container .blogs-container-inner{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.blogs-container-inner .blogs{
  margin:3rem 0;
  padding: 3rem;
  width: 30%;
  height: auto;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  row-gap: .7rem;
}

.blogs-container-inner img{
  width: 100%;
  object-fit: contain;
  border-radius: .3rem;
}

.blogs-container-inner .blog-main-content{
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 13rem;
 border-bottom: 2px solid var(--black);
 padding: 1rem;
}

.blogs-container-inner .blog-main-content div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.blogs-container-inner .blog-main-content div span{
  font-size: 1rem;
  font-weight: 700;
}

.blogs h2{
  font-size: 2rem;
  font-weight: 900;
}

.blogs p{
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}




/* footer section */

.footer-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  text-align: left;
  background-color: var(--green);
  border-bottom: 1px solid var(--black);
}

.footer-container .footer-columns{
  width: 20%;
  height: 30rem;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 2rem 1.5rem;
  line-height: 4rem;
}

.footer-columns .heding{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: row;
  text-align: left;
  font-size: 2.5rem;
  font-weight: 800;
}

.footer-columns .heding svg{
  color: var(--white);
}

.footer-columns p{
  text-align: left;
}

.footer-columns .socil-icons{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: row;
  text-align: left;
  gap: 1rem;
  margin: 1rem 0;
}

.footer-columns .socil-icons div{
  width: 3.5rem;
  height: 3.5rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  color: var(--green);
  transition: .3s ease-in-out;
  cursor: pointer;
}

.footer-columns .socil-icons div:hover{
  background-color: var(--black);
  color: var(--white);
}


.footer-columns h2{
  font-size: 2.5rem;
}

.footer-columns div{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  text-align: left;
}

.footer-columns div a{
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

.footer-line{
  background: var(--white);
  color: var(--black);
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 900;
  gap: .8rem;
}

.footer-line span{
  color: var(--green);
  background-color: var(--black);
  border-radius: .8rem;
}

.footer-columns form input{
  padding: 1rem;
  border-radius: .8rem;
  width: 25rem;
  margin: 1rem 0;
}

.footer-columns form button{
  background: var(--black);
  color: var(--green);
}

.footer-columns form button:hover{
  background-color: var(--black);
  color: var(--white);
}
