:root{
    --green : #95c11e;
    --black : #242423;
    --white : #e8eddf;
    --box-shadow : 0 0.5rem 1rem rgba(0, 0, 0, 0.1); 
}

.farmer-section{
    width: 100%;
    height: 100vh;
    position: relative;
}

.farmer-section img{
    width: 100%;
    height: 100%;
}


.msg-container-form{
    width: 80%;
    height: 40%;
    text-align: center;
    gap: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3rem;
}

#register-btn-box{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#register-btn{
    width: 20rem;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 700;
}


.farm-product-form{
    width: 80%;
    height: 88%;
    position: absolute;
    top: -100%;
    left: -50%;
    transform: translate(-50%,-50%);
    background-color: #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    transition: all .4s linear;
}

.farm-product-form.active{
    top: 57%;
    left: 50%;
}



.farm-product-form h1{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--green);
    position: relative;
}

.farm-product-form h1::after{
    content: "";
    position: absolute;
    width: 30%;
    height: 2px;
    border-radius: 5px;
    background-color: var(--black);
    bottom: 0;
    left: 380px;

}
form{
    position: relative;
}

form .cancel-icon{
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -60px;
    right: 10px;
    cursor: pointer;
}
form .all-inputs{
    /* padding: 1rem; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 1rem;
}

.all-inputs .sub-ele{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: auto;
}

.all-inputs .sub-ele label{
    font-size: 18px;
    font-weight: 500;
}

.all-inputs .sub-ele input{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    border: none;
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
    box-shadow: var(--box-shadow);
}

form .sub-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

form .sub-btn input{
    width: 200px;
    background-color: var(--green);
    padding: 1rem;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}